/* Reset padrão do navegador */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo para o body */
body {
    background-image: linear-gradient(to bottom right, #4B0082, #10001C);
    min-height: 100vh; /* Altere de height para min-height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica, sans-serif; /* Define a fonte padrão */
}

/* Estilo para o header */
header {
    background-color: #FFD700;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Estilo para os logotipos */
.container {
    display: flex;
    align-items: center;
}

.logo-left,
.logo-right {
    height: 60px;
    width: auto;
}

.logo-left {
    transform: scaleX(-1); /* Espelha horizontalmente a imagem para a esquerda */
}

/* Estilo para o conteúdo principal */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Ocupa o espaço disponível */
    width: 100%;
}

/* Estilo para a caixa de conteúdo */
.content-box {
    border: 5px solid #32CD32; /*expessura da borda quadrado*/
    padding: 20px;
    width: 90%; /* Altere de 1500px para 90% para ser mais responsivo */
    max-width: 1500px; /* Defina um max-width para garantir um limite */
    text-align: center;
    background-color: transparent; /* Remover o fundo */
}

/* Estilo para os botões */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alinha verticalmente */
}

.custom-button {
    display: flex;
    align-items: center; /* Alinha imagem e texto verticalmente */
    text-decoration: none;
    padding: 20px 30px; /* Aumentando o padding dos botões */
    background-color: transparent; /* Removendo o fundo de cor sólida */
    color: #FFD700; /* Cor do texto dos botões */
    border: none; /* Removendo a borda dos botões */
    margin: 15px 0; /* Espaçamento entre os botões */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
    font-size: 30px; /* Aumentando o tamanho da fonte */
}

.custom-button img {
    max-width: 80px; /* Aumentando o tamanho máximo da imagem */
    height: auto; /* Altura automática proporcional */
    margin-right: 20px; /* Espaçamento à direita da imagem */
}

.custom-button:hover {
    background-color: #10001C;
    color: #32CD32;
}
